@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.navbar-brand {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  font-family: "Space Mono", monospace;
}
.content {
  height: 100vh;
}
body {
  font-family: "Space Mono", monospace;
}
#title {
  font-weight: bold;
   color: #000;
  font-family: "Space Mono", monospace;
  font-size: 25px;
}
.box {
  text-align: center;
}
.box p{
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 100;
}
.button-container {
   height: 100vh;
   margin: 10% auto;
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   flex-wrap: wrap;
}
.card {
 border: 1px solid black;
 margin: 1% 0;
}
.img img {
   width: 270px;
   height: 270px;
}
.spinner-container {
            display: none;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin: 50% auto;
        }
        
        .inv {
           display: flex;
        }
        .non {
           display: none;
        }
@media (max-width: 760px) {
   .button-container {
   margin: 15% auto;
}
   .card {
      margin: auto;
   }
   .img img {
   width: 200px;
   height: 200px;
}
}